body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: linear-gradient(to right,white,rgba(9, 224, 9,0.4));
}

.title {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 50px;
  font-size:40px;
  color: #004d40;
  font-family: cursive;
}
.destination{
   overflow: hidden;
   margin-bottom: 100px;
}
.card {
  display: flex;
  background: white;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

.card img {
  width: 45%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.content {
  padding: 20px;
  flex: 1;
}

.content h2 {
  margin-top: 0;
  color: #00695c;
}

.rating {
  font-weight: bold;
  margin-top: 10px;
  color: #ff9800;
}
    /* header style */
    
 nav {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgb(6, 33, 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  z-index: 1000;

}
.logo1 {
  width: 12vw;
  min-width: 180px;
  max-width: 180px;
  height: auto;
}
.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: white;
  font-size: 1rem;
  font-weight: 530;
  text-decoration: none;
  transition: ease 0.40s;
  font-family: sans-serif;
  padding: 5px 6px;
  border-radius: 4px;
  min-width: max-content;
  margin-top: 2%;
}

.navbar a:hover,
.navbar a.active {
  background: white;
  color: rgb(9, 122, 43);
}

.user {
  color: white;
  font-size: 3rem;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar a {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}

/* footer styling */
 .footer {
  background-color: rgb(2, 35, 17);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo2 {
  margin-bottom: 20px;

}

.footer-columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.footlinks {
  color: white;
  text-align: left;
  margin: 10px 20px;
  min-width: 200px;
}

.footlinks h4 {
  font-size: 30px;
  font-weight: 500;
 font-family: "Tapestry", serif;
  margin-bottom: 10px;
  margin-right: 40px;
}

.quick a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 15px;
}

.contact div {
  margin: 5px 0;
  color: white;
  padding: 5px;
}
.contact i{
  padding: 10px;
    font-size: 20px;
}
.social a {
  font-size: 20px;
  margin: 5px;
  height: 30px;
  width: 30px;
  color: rgb(2, 35, 17);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.social a:hover {
  transform: scale(1.2);
}

.end {
  text-align: center;
  padding-top: 20px;
}

.end p {
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  .footlinks {
    text-align: center;
    margin: 15px 0;
  }
}
